<div class="idot-form">
  <form name="manageApp" ng-submit="onboardDeviceCtrl.submitProjectUpdate()" novalidate>
    <div class="form-group">
      <label>Web Service Client ID</label>
      <input ng-model="onboardDeviceCtrl.clientId" type="text" class="form-control" value="{{onboardDeviceCtrl.clientId}}" ng-required="required">
    </div>
    <div class="form-group">
      <label>Secret</label>
      <input ng-model="appInputCtrl.clientSecret" type="textarea" class="form-control" value="{{appInputCtrl.clientSecret}}" ng-required="required">
    </div>
    <button class="btn btn-success pull-right" ng-click="onboardDeviceCtrl.addDevice()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </button>
  </form>
</div>
